{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Nest Dashboard</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href={% static "/dashboard/imgs/theme/favicon.svg" %} />
        <!-- Template CSS -->
        <link href='{% static "/dashboard/css/main.css" %}?v=1.1' rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div class="screen-overlay"></div>
        <aside class="navbar-aside" id="offcanvas_aside">
            <div class="aside-top">
                <a href="template.html" class="brand-wrap">
                    <img src={% static "/dashboard/imgs/theme/logo.svg" %} class="logo" alt="Nest Dashboard" />
                </a>
                <div>
                    <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
                </div>
            </div>
            <nav>
                <ul class="menu-aside">
                    <li class="menu-item active">
                        <a class="menu-link" href="template.html">
                            <i class="icon material-icons md-home"></i>
                            <span class="text">Dashboard</span>
                        </a>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href={% url "admin_product" %}>
                            <i class="icon material-icons md-shopping_bag"></i>
                            <span class="text">Products</span>
                        </a>
                        <div class="submenu">
                            <a href={% url 'admin_category' %}>Category</a>
                            <a href={% url 'admin_subcategory' %}>Sub Category</a>
                            <a href={% url "admin_product" %}>View Products</a>
                        </div>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href={% url 'admin_brand' %}> <i class="icon material-icons md-stars"></i> <span class="text">Brands</span> </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="{% url 'admin_create_product' %}">
                            <i class="icon material-icons md-add_box"></i>
                            <span class="text">Add product</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="page-orders-1.html">
                            <i class="icon material-icons md-shopping_cart"></i>
                            <span class="text">Orders</span>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a class="menu-link" href="page-transactions-1.html">
                            <i class="icon material-icons md-monetization_on"></i>
                            <span class="text">Transactions</span>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a class="menu-link" href="page-reviews.html">
                            <i class="icon material-icons md-comment"></i>
                            <span class="text">Reviews</span>
                        </a>
                    </li>
                </ul>
                <hr />
                <ul class="menu-aside">
                    <li class="menu-item">
                        <a class="menu-link" href="#">
                            <i class="icon material-icons md-settings"></i>
                            <span class="text">Settings</span>
                        </a>
                    </li>
                </ul>
                <br />
                <br />
            </nav>
        </aside>
        <main class="main-wrap">
            <header class="main-header navbar">
                <div class="col-search">

                </div>
                <div class="col-nav">
                    <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i class="material-icons md-apps"></i></button>
                    <ul class="nav">
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src={% static "dashboard/imgs/people/avatar-2.png" %} alt="User" /></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>
            <section class="content-main">
                {% block content %}
                {% endblock %}
            </section>
            <!-- content-main end// -->

            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <hr />
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &copy; AiSAT Technology.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
        </main>
        {% block script %}
        {% endblock %}
        <script src={% static "/dashboard/js/vendors/jquery-3.6.0.min.js" %}></script>
        <script src={% static "/dashboard/js/vendors/bootstrap.bundle.min.js" %}></script>
        <script src={% static "/dashboard/js/vendors/select2.min.js" %}></script>
        <script src={% static "/dashboard/js/vendors/perfect-scrollbar.js" %}></script>
        <script src={% static "/dashboard/js/vendors/jquery.fullscreen.min.js" %}></script>
        <script src={% static "/dashboard/js/vendors/chart.js" %}></script>
        <!-- Main Script -->
        <script src="{% static '/dashboard/js/main.js' %}?v=1.1" type="text/javascript"></script>
        <script src={% static "/dashboard/js/custom-chart.js" %} type="text/javascript"></script>
    </body>
</html>
