{% extends 'admin/templates/template.html' %}
{% load static %}

{% block content %}
<div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Sub-Categories</h2>
                        <p>Add, edit or delete a sub-Category</p>
                    </div>

                </div><div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <form action={% url "admin_subcategory" %} method="POST">
                                    {% csrf_token %}
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Name</label>
                                        <input type="text" placeholder="Type here" class="form-control" id="product_name" name="name"/>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Feature Image</label>
                                        <input type="file" class="form-control" id="product_image" name="product_image">
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Category</label>
                                        <select multiple class="form-select" name="category" style="height: 100%;">
                                            {% for item in category_list %}
                                                <option value="{{ item.id }}">{{ item.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Description</label>
                                        <textarea placeholder="Type here" class="form-control" name="description"></textarea>
                                    </div>
                                    <div class="d-grid">
                                        <button class="btn btn-primary">Create sub-category</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-9">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Description</th>
                                                <th>Slug</th>
                                                <th>Category</th>
                                                <th class="text-end">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for category in categories %}
                                                <tr>
                                                    <td>{{ category.id }}</td>
                                                    <td><b>{{ category.name}}</b></td>
                                                    <td>{{ category.description }}</td>
                                                    <td>/{{ category.slug}}</td>
                                                    <td>{% for items in category.categories.all %}{{ items.name }}<br>{% endfor %}</td>
                                                    <td class="text-end">
                                                        <div class="dropdown">
                                                            <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                            <div class="dropdown-menu">
                                                                <a class="dropdown-item" href="#">View detail</a>
                                                                <a class="dropdown-item" href="#">Edit info</a>
                                                                <a class="dropdown-item text-danger" href="#">Delete</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- .col// -->
                        </div>
                        <!-- .row // -->
                    </div>
                    <!-- card body .// -->
                </div>
{% endblock %}